version: 2
jobs:
  build:
    working_directory: ~/tweek-clients

    environment:
      NODE_ENV: development

    docker:
      - image: node:8.5.0
    
    steps:
      - checkout

      - setup_remote_docker:
          reusable: true

      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
            curl -L -o /usr/bin/docker-compose "https://github.com/docker/compose/releases/download/1.11.2/docker-compose-$(uname -s)-$(uname -m)"
            chmod +x /usr/bin/docker-compose

      - run:
          name: Build client containers
          command: |
            docker build -t js_tests .
            docker build -t dotnet_tests ./dotnet

      - run: 
          name: Run environment
          command: |
            docker pull soluto/tweek-blackbox:latest
            docker run -d -e API_PORT=1111 --rm -v=/var/run/docker.sock:/var/run/docker.sock -v=./testRepoData/:/repo soluto/tweek-blackbox:latest
      
      - run: 
          name: Test js clients
          command: docker run --network=blackbox_default -e TWEEK_LOCAL_API=http://tweek-api js_tests

      - run:
          name: Test dotnet client
          command: |
            docker-compose -p blackbox up -d dotnet_tests && \
            docker exec -e "VersionSuffix=0.2.$CIRCLE_BUILD_NUM" $(docker-compose  -p blackbox ps|grep dotnet_tests|cut -d" " -f1) /bin/bash -c "cd /test-environment/ && dotnet build -c release" && \
            docker exec -e "VersionSuffix=0.2.$CIRCLE_BUILD_NUM" $(docker-compose  -p blackbox ps|grep dotnet_tests|cut -d" " -f1) /bin/bash -c "cd /test-environment/Tweek.Client.Tests && dotnet test"

      - deploy: 
          name: npm
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
              if [[ $(node -p -e "require('./js/tweek-client/package.json').version") != $(npm show tweek-client version) ]]; then
                echo "publish tweek-client"
                cd js/tweek-client && yarn && npm run build && npm publish && cd ../..
              fi
              if [[ $(node -p -e "require('./js/tweek-local-cache/package.json').version") != $(npm show tweek-local-cache version) ]]; then
                echo "publish tweek-local-cache"
                cd js/tweek-client && yarn && npm run build && cd ../..
                cd js/tweek-local-cache && yarn && npm run build && npm publish && cd ../..
              fi
              if [[ $(node -p -e "require('./js/react-tweek/package.json').version") != $(npm show react-tweek version) ]]; then
                echo "publish react-tweek"
                cd js/react-tweek && yarn && npm run build && npm publish && cd ../..
              fi
            else 
              echo "not deploying on non master branches"
            fi

      - deploy: 
          name: nuget
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker exec -e "VersionSuffix=0.2.$CIRCLE_BUILD_NUM" $(docker-compose -p blackbox ps|grep dotnet_tests|cut -d" " -f1) /bin/bash -c "dotnet nuget push /test-environment/Tweek.Client/bin/Release/Tweek.Client\*.nupkg -s nuget.org -k $NUGET_APIKEY"
            else
              echo "not deploying on non master branches"
            fi
